@import "compass";

// #### CSS RESET #######################
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// #### STUFF #######################

body {
    background: #265d86 image-url('nsa_bg.jpg');
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 13px;
    color: #000;
    line-height: 15px;
}
#wrapper {
    width: 900px;
    margin: 0 auto;
}
#logo {
    margin: 0 auto;
    display: block;
    background: image-url('nsa_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 836px;
    height: 225px;
    text-transform: uppercase;
    text-indent: -9999em;
}
h1,
label {
    color: #205d89;
    font-size: 18px;
    text-align: center;
    display: block;
    background: image-url('h1_bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.content_box  {
    text-align: center;
    @include background-image(linear-gradient(left top, #d9d9d9, white));
    padding: 15px;
    @include single-box-shadow(#fff, 0, 1px, 1px, 2px, true);
    margin: 10px auto;

    p {
        margin-bottom: 10px;
        clear: both;
    }
}
#ask_the_nsa {
    overflow: hidden;

    input[type=text] {
        height: 40px;
        padding: 0 15px;
        width: 835px;
        float: left;
        border: 1px solid #fff;
        @include single-box-shadow(rgba(0,0,0,0.3), 0, 1px, 3px, 2px, true);
        color: #D00;
    }
}

// #### SEARCH RESULTS #######################

#output {
    .result {
        padding: 20px 0;
        font-size: 16px;
        border-bottom: 1px dashed #aaa;

        a {
          color: #D00;
        }

        em {
          font-size: 140%;
          font-weight: bold;
        }
    }
    iframe {
      display: block;
      width: 100px;
      height: 30px;
      margin: 0 auto;
      padding: 0;

      body {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }

    &.error {
      padding: 2em;
      color: #D00;
      font-weight: bold;
      text-align: center;
      font-size: 150%;
    }
}

// #### DISCLAIMER #######################

footer   {
    text-align: center;
    margin: 30px 0;
    p {
        margin: 10px 0;
    }

    #disclaimer {
        color: #71A2C3;
        text-align: center;
    }

    a {
      color: #000;
      text-decoration: underline;
    }
}
